.main-menu-container {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo-container {
    flex: 0 0 auto;
  }
  
  .logo-image {
    width: 80px;
    height: auto;
  }
  
  .button-container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container h2 {
    font-weight: bold;
    font-size: 30px;
    color: #0d4e8a;
  }
  
  .button-group {
    display: flex;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 30px;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 1;
  }
  
  .icon-container:hover {
    background-color: #e0e0e0;
    color: #0d4e8a;
    cursor: pointer;
  }
  
  .icon-text {
    margin: 10px 0 0 0;
    font-size: 16px;
  }
  
  /* Mengubah tata letak menjadi vertikal saat lebar layar mencapai 600px */
  @media screen and (max-width: 600px) {
    .button-container {
      flex-direction: column;
    }
  
    .button-group {
      flex-direction: column;
      width: 100%;
    }
  
    .icon-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  